@mixin clearfix {
    &::after {
        content: '';
        clear: both;
        display: table;
    }
}

@mixin style-button {
    display: inline-block;
    font-size: $font-size-default;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: $border-radius-big;
    padding: 1.5rem 4rem;

    // Styling for <button> element as opposed the <a> element
    border: none;
    cursor: pointer;
}

@mixin gradient-image-overlay($url) {
    background: linear-gradient(
            to right bottom,
            rgba($colour-primary-light, 0.8),
            rgba($colour-primary-dark, 0.8)
        ),
        url($url);
    background-size: cover;
    background-position: top;
}

@mixin gradient-text-overlay {
    background-image: linear-gradient(
        to right,
        $colour-primary-light,
        $colour-primary-dark
    );
    display: inline-block; // so background colour only goes to end of text
    -webkit-background-clip: text;
    background-clip: text; // clips the background image to the lettering
    color: transparent;
}

@mixin centred {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
