@mixin clearfix {
    &::after {
        content: '';
        clear: both;
        display: table;
    }
}

@mixin style-link-text($colour) {
    text-transform: uppercase;
    text-decoration: none;
    font-size: $default-font-size;
    color: $colour;
}

@mixin style-button {
    display: inline-block;
    border: none;
    border-radius: 10rem;
    padding: 1.5rem 4rem;
}

@mixin gradient-image-overlay($url) {
    background: linear-gradient(
            to right bottom,
            rgba($colour-primary-light, 0.8),
            rgba($colour-primary-dark, 0.8)
        ),
        url($url);
    background-size: cover;
    background-position: top;
}

@mixin gradient-text-overlay {
    background-image: linear-gradient(
        to right,
        $colour-primary-light,
        $colour-primary-dark
    );
    display: inline-block; // so background colour only goes to end of text
    -webkit-background-clip: text;
    background-clip: text; // clips the backgrou nd image to the lettering
    color: transparent;
}
