$colour-primary: #55c57a; // medium-green
$colour-primary-light: #7ed56f; // light-green
$colour-primary-dark: #28b485; // dark-green

$colour-text: #777; // light grey
$colour-white: #fff; //white
$colour-black: #000; //black

$colour-test: red; // red colour to test things out