/*   STYLES   */
@mixin clearfix {
    &::after {
        content: '';
        clear: both;
        display: table;
    }
}

/*   LAYOUT   */
@mixin centred {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*   BUTTONS   */
@mixin style-button {
    display: inline-block;
    font-size: $font-size-default;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: $border-radius-big;
    padding: 1.5rem 4rem;

    // Styling for <button> element as opposed the <a> element
    border: none;
    cursor: pointer;
}

/*   GRADIENT EFFECTS   */
@mixin gradient-image-overlay($url) {
    background: linear-gradient(
            to right bottom,
            rgba($colour-primary-light, 0.8),
            rgba($colour-primary-dark, 0.8)
        ),
        url($url);
    background-size: cover;
    background-position: top;
}

@mixin gradient-text-overlay {
    background-image: linear-gradient(
        to right,
        $colour-primary-light,
        $colour-primary-dark
    );
    display: inline-block; // so background colour only goes to end of text
    -webkit-background-clip: text;
    background-clip: text; // clips the background image to the lettering
    color: transparent;
}

// MEDIA QUERY MANAGER

/*
0 - 60rem:      Phone
60 - 90rem:     Tablet in portrait
90 - 120rem:    Tablet in landscape
120 - 180rem:   This is where the default code will apply
> 180rem:       Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

ORDER:
Base / Typography / Layout (Header, Footer & Navigation) / Grid / Page Layout / Components
*/

@mixin respond($breakpoint) {
    
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };   //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };      //1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };   //1800px
    }
}



