.btn-scroll-to-top {
    position: fixed;
    bottom: 7rem;
    right: 7rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: $colour-primary;
    font-size: 2.5rem;
    color: $colour-text;
    border: none;
    box-shadow: 0 1rem 2rem rgba($colour-black, 0.3);
    cursor: pointer;
    outline: none;
    z-index: 1002;
    transition: all 0.2s ease-in-out;

    display: none;

    &:hover {
        background-color: $colour-text;
        color: $colour-primary;
        box-shadow: 0 1.5rem 2.5rem rgba($colour-black, 0.2);
    }

    &:active {
        transform: translateY(.3rem);
        box-shadow: 0 0.5rem 1rem rgba($colour-black, 0.6);
    }

    &.btnEntrance {
      -webkit-animation: zoomIn 0.5s;
              animation: zoomIn 0.5s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
    }

    &.btnExit {
      -webkit-animation: zoomOut 0.25s;
              animation: zoomOut 0.25s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
    }
}

