 .feature-box {
        text-align: center;
        padding: 2.5rem;
        border-radius: 3px;
        background-color: rgba($colour-white, 0.85);
        box-shadow: 0 1.5rem 3rem rgba($colour-black,.2);
        transition: all .3s;

        &__icon {
            font-size: 6rem;

            @include gradient-text-overlay;
            
        }

        &__text {
            font-size: 1.5rem;
        }

        &:hover {
            transform: scale(1.03) translateY(-1.5rem);
            box-shadow: 0 2rem 5rem rgba($colour-black,.15);            
        }
    }
