/*****   FOOTER LAYOUT   *****/

.footer {
    background-image: url(../_images/carbon-fibre-patterns.jpg);
    padding: 13rem 0;
    font-size: $font-size-smaller;

    &__logo-box {
        margin-bottom: 8rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        display: inline-block;
        line-height: 3rem;
        padding-top: 2.5rem;
        border-top: 1px solid rgba($colour-grey-dark-1, .6); 
    }
                
    &__list {
        list-style-type: none;
    }

    &__item {
        display: inline-block;        

        &:not(:last-child) {
            margin-right: 1.5rem;
        }           
    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            color: $colour-grey-light-1;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $colour-primary;
            box-shadow: 0 1rem 2rem rgba($colour-black, .4);
            transform: scale(1.1);
        }       
    }

    &__copyright { 
        display: inline-block;
        width: 80%;
        float: right;
        padding-top: 1.5rem;
        border-top: 1px solid rgba($colour-grey-dark-1, .6);
        

        &--paragraph {
            display: inline-block;
            font-weight: 300;
            line-height: 2.5rem;
            color: $colour-grey-light-1;       
        }

        &--cc-link {

            &:link,
            &:visited {
                text-decoration: none;
                margin-right: .4rem;
                margin-left: .4rem;
            }

            &:hover,
            &:active {
                color: khaki !important;
                transform: scale(1.1);
                text-decoration: underline;
            } 
        }

        &--cc-logo {
            height: 2.5rem;
        }
    }    
}
