/*****   ANIMATIONS   *****/

/*Text Box Animation*/
@-webkit-keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
        @keyframes moveInLeft {
            0% {
                opacity: 0;
                transform: translateX(-10rem);
            }
            80% {
                transform: translateX(1rem);
            }
            100% {
                opacity: 1;
                transform: translate(0);
            }
        }
@-webkit-keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
        @keyframes moveInRight {
            0% {
                opacity: 0;
                transform: translateX(10rem);
            }
            80% {
                transform: translateX(-1rem);
            }
            100% {
                opacity: 1;
                transform: translate(0);
            }
        }
@-webkit-keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(3rem);    
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
        @keyframes moveInUp {
            0% {
                opacity: 0;
                transform: translateY(3rem);    
            }
            100% {
                opacity: 1;
                transform: translate(0);
            }
        }

// Zoom In
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);    
    }
    to {
        opacity: 1;
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);    
    }
    to {
        opacity: 1;
    }
}

// Zoom Out
@-webkit-keyframes zoomOut {
    from {
        opacity: 1;           
    }
    to {
        opacity: 0;
        transform: scale3d(.3, .3, .3); 
    }
}

@keyframes zoomOut {
    from {
        opacity: 1;           
    }
    to {
        opacity: 0;
        transform: scale3d(.3, .3, .3); 
    }
}

